[submodule "hugo-bootstrap-premium"]
	path = themes/hugo-bootstrap-premium
	url = git@github.com:rahmannlab/hugo-bootstrap-premium.git
[submodule "public"]
	path = public
	url = git@github.com:rahmannlab/rahmannlab.github.io
